#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #b64848;
}

p {
  font-size: 40px;
  padding-top: 30px;
}

h2 {
  font-size: 70px;
}

.column-container {
  display: flex;
  flex-direction: row; /* Stacks items horizontally */
  gap: 40px; /* Adds spacing between items */
  align-items: top; /* Centers items */
}

@media (max-width: 768px) {
  .column-container {
    flex-direction: column;
    gap: 20px;
  }
}

.column-item {
  padding: 20px;
  width: 500px; /* Controls column width */
  text-align: center;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.column-item:hover {
  background-color: #F49FB6;
}

.column-item-standard {
  padding: 20px;
  width: 500px; /* Controls column width */
  text-align: center;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.column-item-standard:hover {
  background-color: #A6E0DE;
}

.column-image {
  height: 10em;
  padding-top: 20px;
  will-change: transform;
  transition: all .2s ease-in-out;
  align-items: center;
}

.column-image:hover {
  transform: scale(1.4);
}
